@using Domain
@model App.Controller.CheckingModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Checking room number @Model.RoomId</h2>

<button onclick="location.href='/room/checkingdone/@Model.RoomId/@RoomCheckStatus.Ok'">OK</button>
<button onclick="location.href='/room/checkingdone/@Model.RoomId/@RoomCheckStatus.Ko'">KO</button>