@using Domain
@model App.Controller.CheckingModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Checking room number @Model.RoomId</h2>

<button class="btn btn-success" onclick="location.href='/room/checkingdone/@Model.RoomId'">Done</button>

<form action="/room/reportdamage/@Model.RoomId" method="post">
    <input name="description" />
    <button class="btn btn-danger" type="submit">Report damage</button>
</form>

