@model Domain.RoomCheckStatus
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (Model == Domain.RoomCheckStatus.Ok) {
    <h2>ROOM STATUS IS OK</h2>
}
else {
    <h2>ROOM STATUS IS NOT OK</h2>
}
