@using Domain
@model App.Controller.CheckingModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Checking room number @Model.RoomId</h2>

<a class="btn btn-success" href="/room/checkingdone/@Model.RoomId">Done</a>

<form action="/room/reportdamage/@Model.RoomId" method="post">
    <input name="description" />
    <button class="btn btn-danger" type="submit">Report damage</button>
</form>

