@page
@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Rooms to be checked</h2>
<ul>
    <li>room 1 <button class="btn btn-primary" onclick="location.href = '/room/checking/1'">Start Checking</button> <button class="btn btn-warning" onclick="location.href = '/room/checkoutguest/1'">Checkout Guest</button> </li>
    <li>room 2 <button class="btn btn-primary" onclick="location.href = '/room/checking/2'">Start Checking</button> <button class="btn btn-warning" onclick="location.href = '/room/checkoutguest/2'">Checkout Guest</button> </li>
    <li>room 3 <button class="btn btn-primary" onclick="location.href = '/room/checking/3'">Start Checking</button> <button class="btn btn-warning" onclick="location.href = '/room/checkoutguest/3'">Checkout Guest</button> </li>
</ul>