@model App.Controller.ToBeCheckedModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Rooms to be checked</h2>
<ul>

    @{
        foreach (var roomId in Model.NotCheckedRoomIds) {
            <li>room @roomId.Value <a class="btn btn-primary" href="/room/checking/@roomId.Value">Start Checking</a> </li>
        }
    }

</ul>