@model App.Controller.ToBeCheckedModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Rooms to be checked</h2>
<ul>

    @{
        foreach (var roomId in Model.NotCheckedRoomIds) {
            <li>room @roomId.Value <button class="btn btn-primary" onclick="location.href = '/room/checking/@roomId.Value'">Start Checking</button> </li>
        }
        foreach (var roomId in Model.CheckedRoomIds) {
            <li>room @roomId.Value <button class="btn btn-warning" onclick="location.href = '/room/checkoutguest/@roomId.Value'">Checkout Guest</button> </li>
        }
    }

</ul>