@page
@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Rooms to be checked</h2>
<ul>
    <li>room 1 <button onclick="location.href = '/room/checking/1'">Start Checking</button> </li>
    <li>room 2 <button onclick="location.href = '/room/checking/2'">Start Checking</button> </li>
    <li>room 3 <button onclick="location.href = '/room/checking/3'">Start Checking</button> </li>
</ul>