@page
@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Rooms to be checked</h2>
<ul>
    <li>room 1 <button>Start Checking</button> </li>
    <li>room 2<button>Start Checking</button></li>
    <li>room 3<button>Start Checking</button></li>
</ul>