@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<a class="btn btn-info" href="/room/tobechecked">1. Rooms to be checked</a>
<a class="btn btn-info" href="/room/checkin">2. Check in</a>
<a class="btn btn-info" href="/room/toclean">3. Is Dirty rooms ?</a>
<a class="btn btn-info" href="/room/toclean">4. Dirty rooms</a>