@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button class="btn btn-info" onclick="location.href = '/room/tobechecked'">Rooms to be checked</button>
<a class="btn btn-info" href="/room/checkin">Check in</a>